<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- "Mi9l/+7Zujhy12se6Yjy111B", "jp2015SD/9i=" -->
    <add key="License" value="5M8UtQAjZSDmBQxK0BnktiBYiOTKWZ3TkOw4sN9E6TrCxnC0M7qcniMFhLdZv6noK4JGle58mUKyVp5srKQx2eAXxwM/rt1p9kBBkzra9MQ="/>
    <!--<add key="License" value="5M8UtQAjZSDtclx5bOoDN+CJ8TeYmnlXoVDaHKQfhidNSQA5wktxTeT56T4OgWuwBvNc38tG0V+O2/QjPkvkHEPBKcUW2YWx"/>-->
    <!-- FormUpLoad=上传文件窗体,,FormDownLoad=自动升级窗体 -->
    <add key="MainForm" value="FormDownLoad"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
